venv/
.venv

/.quarto/
**/*.quarto_ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

.vscode/

copilot-instructions.md

# Export archives
exports/exports/
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz

