name: Pylint

on:
  push:
    paths:
      - '**.py'
      - 'requirements.txt'
      - '.github/workflows/pylint.yml'
    paths-ignore:
      - 'docs/**'
      - 'guide/**'
      - 'exports/**'
      - '**/*.md'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'
      - '.env'
      - 'LICENSE'
      - 'CHANGELOG.md'
      - 'CONTRIBUTING.md'
      - 'CODE_OF_CONDUCT.md'
  pull_request:
    paths:
      - '**.py'
      - 'requirements.txt'
      - '.github/workflows/pylint.yml'
    paths-ignore:
      - 'docs/**'
      - 'guide/**'
      - 'exports/**'
      - '**/*.md'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'
      - '.env'
      - 'LICENSE'
      - 'CHANGELOG.md'
      - 'CONTRIBUTING.md'
      - 'CODE_OF_CONDUCT.md'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
